<% form_for @page do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  
  <p>
    <%= f.label :content %><br />
    <%= f.cktext_area :content, :height => 400, :swf_params => { :assetable_type => 'Test', :assetable_id => 1 } %>
    
    <% 
      # if you want to save different image for each user
      # form.cktext_area :content, :swf_params=>{:assetable_type=>'User', :assetable_id=>current_user.id}
     %>
  </p>
  
  <p><%= f.submit "Submit" %></p>
<% end %>
