<% title "Page" %>

<p>
  <strong>Title:</strong>
  <%=h @page.title %>
</p>

<%= @page.content %>

<p>
  <%= link_to "Edit", edit_page_path(@page) %> |
  <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", pages_path %>
</p>
